.container {
  width: 90%;
  margin: 20px auto;
}

/* Style the custom slider */
.custom-slider {
  width: 100%;
  height: 30px;
  background: #eee;
  opacity: 0.8;
  outline: none;
  transition: 0.3s;
  
}

.custom-slider:hover {
  opacity: 1;
}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}

/* Style the box */
.box {
  margin-top: 50px;
  background: #2196f3;
}
.arrdata span {
  font-size: 18px;
  color: #f00;
  font-weight: 600;
}
.arrdata {
  margin-top: 20px;
  border: 1px solid #ddd;
  width: 15%;
  padding: 20px;
  background: #ddd; margin-right: 5px;
}
.mainarr{
  display: flex;
  flex-wrap: wrap;
  
}

/*==========Filter CSS========*/
.input_bx {
  margin: 0 auto;
  width: 30%;
}
.input_bx input {
  padding: 10px;
  outline: none;
  width: 100%;
}
.listig {
  margin: 20px auto;
  width: 30%;
}
.listig ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.listig ul li {
  background: #eee;
  margin-bottom: 1px;
}
.listig ul li label {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  cursor: pointer;
}